<form method="post" enctype="multipart/form-data" id="add-content">

    <label for="type">Type de contenu :</label>
    <select name="type">
        <option value="0">Actualités</option>
        <option value="1">Spectacles</option>
    </select>

    <label for="title">Titre :</label>
    <input type="text" name="title">

    <label for="chapo">Chapô :</label>
    <textarea name="chapo" id="chapo"></textarea>

    <label for="content">Corps de texte </label>
    <textarea name="content" id="corps"></textarea>

    <label for="resa">Lien réservation :</label>
    <input type="url" name="resa">

    <label for="publie">Publié :</label>
    <select name="publie">
        <option value="0" selected>Non</option>
        <option value="1">Oui</option>
    </select>

    <input type="submit" name="addcontent" value="Enregistrer">
</form>
