<form method="post" enctype="multipart/form-data" id="add-content">

  <label for="type">Type de contenu :</label>
  <select id="type" name="type">
    <option class="opt" value="0" ##TYPE0##>Actualités</option>
    <option class="opt" value="1" ##TYPE1##>Spectacles</option>
  </select>

  <label for="title">Titre :</label>
  <input type="text" name="title" id="title" placeholder="##TITRE##">


  <label for="image">Image :</label>
  <input type="text" name="image" list="imagelist" id="image" placeholder="##IMG##">
  <datalist id="imagelist">
  </datalist>

  <label for="chapo">Chapô :</label>
  <textarea name="chapo" id="chapo">##CHAPO##</textarea>

  <label for="content">Corps de texte </label>
  <textarea name="content" id="corps">##CORPS##</textarea>

  <div id="spec">
    <label for="resa">Lien réservation :</label>
    <input type="url" name="resa" id="resa" placeholder="##LINK##">
  </div>

  <label for="publie">Publié :</label>
  <select name="publie">
    <option value="0" ##PUBLIE0##>Non</option>
    <option value="1" ##PUBLIE1##>Oui</option>
  </select>

  <input type="submit" name="modifycontent" value="Mettre à jour">
</form>
<div id="ajaxInfo"></div>

<script>

(function(){
  "use strict";
  // Init CKEDITOR
  var title = document.getElementById('title'),
      image = document.getElementById('image'),
      resa = document.getElementById('resa');

  image.value = image.placeholder;
  title.value = title.placeholder;
  resa.value = resa.placeholder;

  if(CKEDITOR){
    CKEDITOR.replace('corps');
    CKEDITOR.replace('chapo');
  }

  // Appel ajax pour l'ajout d'image


  image.onkeyup = function () {

   var  ajax = null,
        resa = document.getElementById('resa'),
        research = document.getElementById('imagelist');

    if(window.XMLHttpRequest || window.ActiveXObject){
        if(window.ActiveXObject){
            try{
                ajax = new ActiveXObject("Msxml2.XMLHTTP");
            }
            catch(e){
                ajax = new ActiveXObject("Microsoft.XMLHTTP");
            }
        }
        else{
            ajax = new XMLHttpRequest();
        }
    }
    else{
        alert("Ajax n'est pas supporté pour l'ajout d'image");
        return;
    }

  ajax.onreadystatechange = function(){


    if(ajax.readyState === 4 && ajax.status === 200){
        research.innerHTML = ajax.responseText;
    }

  }

    ajax.open("GET","##URL##init/ajax.php?q="+ image.value +"",true);
    ajax.send();

} // end onkeyup


})();


</script>
