<form method="post" enctype="multipart/form-data" class="add-image" >
  <div id="files-content">
    <fieldset class="fileBlock">
      <p>Image 1</p>
      <label for="name1">Nom de l'image</label>
      <input type="text" placeholder="Indiquez un nom..." name="name">

      <label for="author1">Auteur de l'image</label>
      <input type="text" placeholder="Indiquez l'auteur..." name="author">
      <small>Si le champ est vide il sera indiqué comme "<i>Nom de l'image</i> © Théâtre En Bullant"</small>

      <label for="author">Ajouter image</label>
      <input type="file" name="author">
    </fieldset>
  </div>
  <div id="add-files" class="btn fas fa-plus-circle"></div>

  <div id="control-file">
    <input type="submit" name="ajoutImg" value="Ajout Images">
  </div>
</form>

<script>

(function(){

  var addFile = document.getElementById('add-files'),
  fileContent = document.getElementById('files-content'),
  fileIterator = 1,
  fileBlock;

  addFile.addEventListener('click', function(){

    fileIterator++;

    fileBlock = '<fieldset class="fileBlock"><p>Image '+ fileIterator +'</p>';
    // Ajout du champ 'name'
    fileBlock += '<label for="name'+ fileIterator +'">Nom de l\'image</label><input type="text" placeholder="Indiquez un nom..." name="name'+ fileIterator +'">';
    // Ajout du champ 'author'
    fileBlock += '<label for="author'+ fileIterator +'">Auteur de l\'image</label><input type="text" placeholder="Indiquez l\'auteur..." name="author'+ fileIterator +'">';
    fileBlock += '<small>Si le champ est vide il sera indiqué comme \"<i>Nom de l\'image</i> © Théâtre En Bullant\"</small>';
    // Ajout du label 'file'
    fileBlock += '<label for="author'+ fileIterator +'">Ajouter image</label><input type="file" name="author'+ fileIterator +'"></div>';
    fileBlock += '</fieldset>';
    fileContent.innerHTML += fileBlock;

  });

})();


</script>
