<div id="content" class="home">

  <div id="carousel">

    <div>
      <div class="info">

        <h3><a href="http://google.fr" target="_blank">Notre dernière actualités</a></h3>
        <h2>Actualités</h2>
      </div><img class="actu" src="asset/img/fakecarrouselactu.jpg" alt="CARROUSEL">
    </div>

    <div>
      <div class="info">

        <h3><a href="http://google.fr" target="_blank">Notre tout dernier spectacles</a></h3>
        <h2>Spectacles</h2>
      </div>
      <div class="crop">
        <img class="bkg-spec" src="asset/img/fakecarrouselspec.jpeg" alt="CARROUSEL">
      </div>
      <img class="spec" src="asset/img/fakecarrouselspec.jpeg" alt="CARROUSEL">
    </div>

    <div>
      <div class="info">

        <h3><a href="http://google.fr" target="_blank">Hamlet</a></h3>
        <h2>Spectacles</h2>
      </div>
      <div class="crop">
        <img class="bkg-spec" src="asset/img/hamlet.jpeg" alt="CARROUSEL">
      </div>
      <img class="spec" src="asset/img/hamlet.jpeg" alt="CARROUSEL">
    </div>

  </div>

  <div id="rs-wrap">
    <a href="https://twitter.com/" target="_blank"><img src="asset/img/tw.png" alt="Twitter"></a>
    <a href="https://facebook.com/" target="_blank"><img src="asset/img/fb.png" alt="Facebook"></a>
  </div>
  <!--Intégration des plugins réseaux sociaux-->
  <div id="iframe-wrap">
    <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="200" data-dnt="true" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/LesBullants?ref_src=twsrc%5Etfw">Tweets by LesBullants</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div id="fb">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftheatreenbullant%2F&tabs=timeline&width=500&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
      $('#carousel').bxSlider({
        auto: true,
        speed: 1000,
        pause: 4000,
        adaptiveHeight : false
      });

    });
</script>
