<div id="content" class="home">

  <div id="carousel">
    <img src="asset/img/fakecarrousel.jpg" alt="">
  </div>
  <!--Intégration des plugins réseaux sociaux-->
  <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="200" data-dnt="true" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/LesBullants?ref_src=twsrc%5Etfw">Tweets by LesBullants</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftheatreenbullant%2F&tabs=timeline&width=1000&height=70&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="1000" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

</div>
