<div id="content" class="home">

  <div id="carousel">
    ##CAROUSEL##
  </div>
<div class="title-main">
	<h1>Théâtre en bullant</h1>
	<h2>Notre point commun : l'envie de jouer !</h2>
</div>
<div class="text-main">
	<h3>La naissance d’un projet multi-casquette, protéiforme et vivant</h3>	
	<h4>Trouver un atelier de théâtre à Paris, voilà qui n'est pas une mince affaire !</h4>
	<p>Le Théâtre en Bullant a été fondé par quelques étudiants. Tout a commencé à Orléans et Sept ans plus tard, le théâtre trouve sa place...Aujourd'hui, nous accueillons étudiants, jeunes actifs, débutants ou confirmés, notre point commun : l'envie de jouer ! </p>
</div>
<div class="pictos-info flexbox flex-around">
	<div><i class="fab fa-angellist"></i><span>Convivial</span></div>
	<div><i class="far fa-heart"></i><span>Jeu</span></div>
	<div><i class="far fa-star"></i><span>Experience</span></div>
</div>
<div class="title-content">
	<h3>Revivre l'experience</h3>	
	<p>Découvrez nos photos et laissez nous un message !</p>
	<div class="text-main">
       <p class="tools-content"> <a href="##URL##galerie/"><img src="##URL##asset/img/galerie.png" alt="Galerie d'image"><span>Notre galerie</span></a>
        <a href="##URL##livre/"><img src="##URL##asset/img/livre.png" alt="Livre d'or"><span>Livre d'or</span></a>
    </p>
	</div>
</div>
<div class="title-content">
	<h3>Les dernières actus - RS</h3>
	<p>Suivez nos flux Facebook et/ou Twitter pour être au courant de nos nouveautés, nos potins, nos nouveaux arrivants...</p>
</div>
  <div id="rs-wrap">
    <a href="https://twitter.com/lesbullants" target="_blank"><img src="##URL##asset/img/tw.png" alt="Twitter"></a>
    <a href="https://www.facebook.com/theatreenbullant/" target="_blank"><img src="##URL##asset/img/fb.png" alt="Facebook"></a>
  </div>
  <!--Intégration des plugins réseaux sociaux-->
  <div id="iframe-wrap">
    <a class="twitter-timeline" data-lang="fr" data-width="500" data-height="200" data-dnt="true" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/LesBullants?ref_src=twsrc%5Etfw">Tweets by LesBullants</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div id="fb">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftheatreenbullant%2F&tabs=timeline&width=500&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
      $('#carousel').bxSlider({
        auto: true,
        speed: 1000,
        pause: 4000,
        adaptiveHeight : true
      });

    });
</script>
