<div id="content" >
  <h1>##H1##</h1>
	<div id="livre">

    ##ALERT##
		<form method="post" class="form livre">
      <label for="Pseudo" class="hide">Pseudo</label>
			<input type="text" name="pseudo" placeholder="Tapez un pseudo">
      <label for="message" class="hide">Message</label>
      <textarea name="message" placeholder="Tapez votre message"></textarea>
      <div class="captcha-wrapper">
        <div class="g-recaptcha" data-sitekey="6LekZV0UAAAAANj9Ms-34C65l-TU_wdM7R2vvTba"></div>
      </div>
      <input type="submit" name="livre" value="Soumettre">
		</form>
	</div>
  <div id="message-wrapper">
    ##DISPLAY##
  </div>
</div>
