    <form method="post" class="add-user">

      <label for="pseudo">Pseudo</label>
      <input type="text" id="pseudo" placeholder="Indiquez un pseudo" name="pseudo">
      <br>

      <label for="mdp">Mot de passe</label>
      <input type="password" id="mdp" placeholder="Votre mot de passe" name="mdp">
      <br>

      <label for="mdpcheck">Confirmez mot de passe</label>
      <input type="password" id="mdpcheck" placeholder="Indiquez ici..." name="mdpcheck">
      <br>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Ici votre email" name="email">
      <br>
      <label for="role">Rôle</label>
      <select id="statut" name="role">
        <option value="0">Administrateur</option>
        <option value="1">Intégrateur</option>
        <option value="2">Modérateur</option>
      </select>
      <br>

      <input type="submit" name="ajoutmbr" class="form-control btn-primary" value="Ajouter membre">

    </form>
