    <form method="post" class="add-user">

      <label for="pseudo">Pseudo</label>
      <input type="text" id="pseudo" placeholder="Indiquez un pseudo" name="pseudo">

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Ici votre email" name="email">

      <label for="mdp">Mot de passe</label>
      <input type="password" id="mdp" placeholder="Votre mot de passe" name="mdp">

      <label for="mdpcheck">Confirmez mot de passe</label>
      <input type="password" id="mdpcheck" placeholder="Indiquez ici..." name="mdpcheck">

      <input type="submit" name="ajoutmbr" class="form-control btn-primary" value="Ajouter membre">

    </form>
