body {
	background: url(../img/background-4k-min.jpg) fixed no-repeat center;
	width: 100%;
	background-position: center;
	background-size: cover;
}
header,
footer,
#rs-wrap {
	background: rgba(21,21,21,.90);
}


/*
* Header
**/

header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	padding: 0 5vw;
	margin-bottom: 50px;
	text-align: center;
}
header nav a{
	padding: 15px 1.5vw;
	margin: 0 1vw;
	font-size: 1.1rem;
}
header nav a:hover{
	border-bottom: 1px solid #B60016
}
header nav,
#pict-fonc {
	padding: 10px;
	display: flex;
	align-items: center;
}
#logo a {
	border: none;
}

#logo img {
	height: 100%;
}
/*
* CONTENT
**/

#content {
	padding-top: 120px;
	width: 90%;
	margin: auto;
}

/*
* Bloc réseaux sociaux
**/

#rs-wrap {
  position: fixed;
	top: 200px;
	right: 5vw;
  width: 100px;
}
#rs-wrap:after {
	clear: both;
}
#rs-wrap img {
	width: 100%;
}

/*
* Footer
**/

footer {
	padding: 25px 5vw;
	margin-top: 25px;
}
footer .cols-wrap{
	display: flex;
	justify-content: space-between;
	line-height: 1.5rem;
}

footer a:hover {
	border-bottom: 1px solid #fff
}
/*
** Home
**/
#carousel{
	float: left;
	width: 87%;
	margin-bottom: 40px;
}
#carousel > img {
	width: 100%;
}


/*
* Espace connexion
**/

#connexion {
	border: 1px solid red;
	width: 40vw;
	height: 200px;
	margin: auto;
}
#connexion form {
	display: flex;
	flex-direction: column;
}
#connexion input{
	background: #00000080;
	padding: 5px 2px;
	margin: 5px;
}
#connexion input[type='submit']{
	width: 250px;
}

/*
* 404
**/

#notFound{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#alertNotF{
	width: 80%;
	max-width: 650px;
}
#alertText{
	width: 80%;
	max-width: 700px;
}
#rs-links{
	margin: 5vh auto;
}
#rs-links img {
	max-width: 100px;
}
