body {
  background: url(../img/background-4k-min.jpg) fixed no-repeat center;
  width: 100%;
  background-position: center;
  background-size: cover;
}
header,
footer,
#rs-wrap {
  background: rgba(21,21,21,.90);
}
footer img {
  width: 70%
}
footer h3{
  font-size: 1.6rem;
  margin-bottom: 30px;
}
footer #col2{
  min-width: 250px
}
.connect-link{
  margin-top: 35px;
}

/*
* Header
**/

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 3.7vw 0 5vw;
  margin-bottom: 50px;
  text-align: center;
  z-index: 1001
}
header nav a{
  padding: 15px 1.5vw;
  margin: 0 1vw;
  font-size: 1.1rem;
  height: 100%;
  padding-top: 43px;
  transition: margin-bottom .3s;
}
header nav a:hover{
  border-bottom: 1px solid #d73636;
  margin-bottom: 5px;
}
header nav,
#pict-fonc {
  padding: 10px;
  display: flex;
  align-items: center;
}
header nav{
  padding: 0;
}
#nav-icon{
  display:none;
}
#logo{
  padding: 6px 0;
}
#logo a {
  border: none;
}

#logo img {
  height: 100%;
}
#pict-fonc {
  width: 13%;
  height: 100%;
  justify-content: space-around;
}
#pict-fonc a{
  width: 40%;
  height: 100%;
}
#pict-fonc a img{
  height: 100%;
}
#pict-fonc img:hover{
  opacity: 0.7
}

/*
** OVERVIEW CONTENT
*/
.article-wrap {
  width: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  background: rgba(21,21,21,.90);
  padding: 15px;
  margin-bottom: 15px;
  height: 300px;
  border-radius: 2px;
}
.img-content{
  overflow: hidden;
  width: 500px
}
.img-content img{
  width: 100%
}
.preview {
  padding-left: 15px;
  max-height: 215px;
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.preview h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.preview p,
.preview p strong,
.preview p em
{
  font-size: 1.2rem;
  font-style: normal;
  line-height: 1.4rem;

}
.preview a.more{
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border: 1px solid #fff;
  background: rgba(21,21,21,.90);
  margin-top: 1em;
  padding: 15px;
}

.preview a.more:hover{
  background: rgba(150,150,150,.75);
}


/*
** CONTENT
**/

#content {
  padding-top: 150px;
  overflow: hidden;
  padding-bottom: 50px;
  width: 90%;
  min-height: 80vh;
  margin: auto;
}
#content > h1{
  font-size: 4.5rem;
}
article {
  background: rgba(21,21,21,.90);
  padding: 15px 25px;
  min-height: 78vh;
  width: 90%
}
article.spec{
  display: flex;
  flex-direction: row;
}
article.spec #left{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  max-width: 600px;
  height: 80vh;
  padding: 15px;
  position: -webkit-sticky;
  position: sticky !important;
  top:80px;
}
article.spec #left img{
  width: 100%;
  height: auto;
  min-width: 350px;
}
article.spec #left a{
  width: 100%;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 15px 5px;
  margin-top: 5px;
  text-align: center;
}
article.spec #left a i{
  margin-right: 15px;
  font-size:1rem
}
article.spec #left a.fb{
  background: #29487d;
}
article.spec #left a.tw{
  background: #1da1f2;
}

/*fb #29487d*/
article.spec #left a:hover{
  border: 1px solid rgba(35, 173, 255, 1);
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
article.spec #left{
  width: 180%;
  height: 100%;
}
article.spec #text{
  padding: 15px;
}
article#actu{
  display: flex;
  flex-direction: column;
  padding: 25px;
}
article#actu #text{
  padding: 25px;
}

article#actu #chapo p{
  margin-top: 3rem;
  margin-bottom: 0;
}
#head{
  position: relative;
  width: 100%;
  height: 30vw;
  overflow: hidden;
}
#head img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
#head h1{
  position: absolute;
  top: 15px;
  left: 20px;
  background: rgba(5,5,5,.70);
  padding: 15px 20px;
  text-align: left;
}

article h1{
  font-size: 2.5rem;
  margin: 15px 0;
  font-weight: normal;
}
article hr{
  margin: 15px 0 50px 0;
}
article #text p,
article #text a,
article #text li,
article #text em,
article #text strong
{
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 2.2rem;
}
article #text strong{
  font-weight: normal;
  font-size: 1.3rem
}
article #text em{
  font-style: italic;
}


article #chapo p{
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
}
article #text p {
  margin-top: 15px;
}
article #text a{
  text-decoration: underline;
}
article #text a:hover{
  text-decoration: none;
}
article ul,
article ol{
  margin: 15px 0 15px 20px;

}

/*
** galerie
**/
#galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 430px;
  height: 380px;
  margin: 15px;
  border-radius: 2px;
  background: #000;
  cursor: pointer;
}
.img-wrap > h2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 2em;
  transition: filter .5s;
  filter: blur(25px);
  -webkit-filter: blur(25px);
  text-align: center;
}
.img-wrap > img{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
  width: 190%;
  transition: opacity .2s;
  transition: width .5s;
  transition-timing-function: ease-in-out;
}
.img-wrap:hover > img{
  opacity: .2;
  width: 150%;
}
.img-wrap:hover > h2{
  filter: blur(0px);
}
#show {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top:0;
  right:0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.9);
}
#show img{
  max-height: 80vh;
  max-width: 90vw;
}
figcaption {
  font-size: 1.5rem;
  margin-top: 5vh
}


/*
** Blocs réseaux sociaux
**/

/* Bloc latéral */
#rs-wrap {
  position: fixed;
  top: 200px;
  right: 4.4vw;
  width: 100px;
  border-radius: 2px;
}
#rs-wrap:after {
  clear: both;
}
#rs-wrap img {
  width: 100%;
}

#rs-wrap img:hover {
  opacity: 0.7
}
/* Iframes */

#iframe-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%
}
#fb,
#twitter-widget-0 {
  height: 300px !important;
}

/*
** Carrousel
**/

.bx-wrapper .bx-controls-direction a.bx-prev
.bx-wrapper .bx-controls-direction a.bx-next
{
  background: none !important;
}

.bx-wrapper {
  width : 90%;
  max-height: 762px;
}
.bx-wrapper img.actu{
  width: 100%
}
.bx-wrapper .crop{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.bx-wrapper img.bkg-spec{
  width: 150%;
  position: absolute;
  top: -35%;
  z-index: -1;
  margin : auto;
  filter: blur(20px);
}
.bx-wrapper img.spec{
  width: 29.97%;;
  margin : auto;
}
.bx-wrapper .info{
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 20px;
}
.bx-wrapper .info h2{
  display: inline-block;
  font-size: 1.2rem;
  background : rgba(5,5,5,.80);
  border-radius: 2px;
  padding: 15px 20px;
  text-align: left;
}
.bx-wrapper .info h3 a{
  display: inline-block;
  margin-bottom: 7px;
  font-size: 2.2rem;
  border-radius: 2px;
  background: rgba(5,5,5,.90);
  padding: 15px 20px;
  text-align: left;
}
.bx-viewport{
  max-height: 761px;
}
.bx-wrapper .bx-controls-direction a.bx-prev,
.bx-wrapper .bx-controls-direction a.bx-next
{
  top: 0;
  height: 100%;
  width: 5%;
  margin-top: 0;

}
.bx-wrapper .bx-controls-direction a.bx-prev:hover{
  border-left: 3px solid #d73636
}
.bx-wrapper .bx-controls-direction a.bx-next:hover{
  border-right: 3px solid #d73636
}
.bx-wrapper .bx-controls-direction a.bx-prev{
  left:0;
}
.bx-wrapper .bx-controls-direction a.bx-next{
  right:0;
}
#content .bx-wrapper .bx-pager.bx-default-pager a{
  background: #fff;
}
#content .bx-wrapper .bx-pager.bx-default-pager a:hover,
#content .bx-wrapper .bx-pager.bx-default-pager a.active{
  background: #ff3d00db;
}
/*
* Footer
**/

footer {
  padding: 25px 5vw;
  margin-top: 25px;
}
footer .cols-wrap{
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}

footer a:hover {
  border-bottom: 1px solid #fff
}
#legal{
  text-align: center;
  margin-top: 15px;
}
/*
** Home
**/
#carousel{
  float: left;
  width: 87%;
  margin-bottom: 40px;
}
#carousel > img {
  width: 100%;
}


/*
* Formulaires front
**/
input{
  border-radius: 2px;
}
#connexion,
#livre {
  width: 40vw;
  margin: auto;
}
#connexion form,
#livre form {
  display: flex;
  flex-direction: column;
}
#connexion input,
#livre input,
#livre textarea
{
  background: rgba(21,21,21,.9);;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 2px;
}
#livre textarea{
  min-height: 170px;
  max-width: 50vw;
  max-height: 515px;
  border-radius: 2px;
  margin-top: 15px
}
#connexion input[type='submit'],
#livre input[type='submit']{
  width: 250px;
  background: rgb(21,21,21);
  border-radius: 5px;
  border: none;
  padding: 20px;
}
#connexion input[type='submit']:hover,
#livre input[type='submit']:hover{
  background: rgb(41,41,41);
  cursor: pointer;
}
.captcha-wrapper {
  margin: 15px 5px;
}
/*
** LIVRE D'OR
*/

#message-wrapper{
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.message {
  width: 650px;
  background: rgba(21,21,21,.90);
  padding: 15px 15px;
  margin: 10px;
  align-self: start;
}
.message h2{
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 15px;
}
.message p{
  font-size: 1.1rem;
  line-height: 1.6rem
}


/*
* 404
**/

#notFound{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
#alertNotF{
  width: 80%;
  max-width: 650px;
}
#alertText{
  width: 80%;
  max-width: 700px;
}
#rs-links{
  margin: 5vh auto;
}
#rs-links img {
  max-width: 100px;
}

@media screen and (max-width: 1950px) { /****** GAP 2 *******/


  /*
  ** HEADER
  */
  header{
    height: 80px;
  }
  header nav a{
    padding-top: 33px;
  }
  #rs-wrap {
    width: 5vw;
  }
  #galerie {
    justify-content: space-evenly;
  }

}



@media screen and (max-width: 1200px) { /****** GAP 2 *******/


  /*
  ** HEADER
  */
  header{
    height: 80px;
  }
  header nav a{
    padding-top: 33px;
  }
  #pict-fonc {
    width: 15%;
  }
  #galerie {
    width: 100%;
    justify-content: space-around;
  }
  /*
  ** OVERVIEW CONTENT
  */
  .article-wrap {
    width: 100%;
  }

  /*
  ** ESPACE CONNEXION
  */
  #connexion input[type="email"],
  #connexion input[type="password"]{
    width: 100%;
  }

  /*
  ** Content
  */
  #content{
    width: 95%;
    padding-top: 105px;
  }
  article {
    width: 100%;
  }
  article #text p{
    text-align: justify;
  }
  #head {
    height: 40vw;
  }

  /*
  ** Block réseaux sociaux
  */
  #rs-wrap{
    width:77px;
    right: 2.7vw;
  }
  #iframe-wrap {
    justify-content: center;
    width: 100%;
  }
  /*
  ** Carrousel
  **/
  .bx-wrapper {
    width: 100%;
    max-height: 762px;
  }
  /*
  ** Block réseau sociaux
  */
  #rs-wrap{
    display: none;
  }
}
@media screen and (max-width: 950px) { /****** (mobile) *******/
  #content{
    margin: 0;
    width: 100%;
    background: none;
  }
  /*
  ** NAV
  */
  header {
    padding: 0 5px;
    height:75px;
    margin-bottom: 0px;
  }
  #logo{
    width: 160px;
  }
  #btn-su-menu{
    top: 11px;
    left: 182px;
  }
  header nav {
    height: calc(100vh - 80px);
    width: 100%;
    position: fixed;
    top: -120vh;
    left:0;
    overflow: hidden;
    flex-direction: column;
    background: #000;
    z-index: 1010;
    padding: 15vh 0 0 0;
    transition: .5s ease-in-out;
    align-items: start;
  }
  header nav.o {
    top: 80px;
    touch-action: none;
  }
  #pict-fonc{
    display : none;
  }
  #pict-fonc.o {
    display:block;
    opacity: 1;
    transition: .25s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    position: fixed;
    bottom: 0;
    z-index: 1011;
    width: 100%;
    height: 92px;
  }
  #rs-wrap{
    display: none;
    position: fixed;
    background: none;
    opacity: 0;
    z-index: 1030;
  }
  #rs-wrap.o{
    display: block;
    opacity: 1;
    transition: .25s ease-in-out;
  }
  #pict-fonc a img {
    height: 75px;
  }
  header nav a {
    padding: 0 0 15px 20px;
    margin: 0;
    margin-bottom: 15px;
    font-size: 1.1rem;
    height: 8vh;
    z-index: 9999;
  }
  header nav a:hover{
    margin-bottom: 30px;
  }

  #nav-icon{
    display:block;
    width: 40px;
    height: 35px;
    position: fixed;
    top: -32px;
    right: 20px;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon span:nth-child(1) {
    top: 0px;
  }

  #nav-icon span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 15px;
  }

  #nav-icon span:nth-child(4) {
    top: 30px;
  }

  #nav-icon.o span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
  }

  #nav-icon.o span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.o span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 16px;
  }

  #nav-icon.o span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #galerie {
    justify-content: center;
  }

  /*
  ** CARROUSEL
  */

  .bx-controls{
    display: none
  }
  .bx-wrapper{
    height: 55vh;
    margin-top: 20px;
  }
  .bx-wrapper .bx-viewport {
    overflow: visible !important;
  }
  .bx-wrapper .info {
    top: 250px;
    bottom: inherit !important;
  }

  /*
  ** IFRAME RS
  */

  #iframe-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /*
  ** ARTICLE
  */

  article{
    background: #171412;
    padding: 0 5px 40px 5px;
  }
  article.spec {
    flex-direction: column;
  }
  article.spec #left{
    position: initial;
    order: 2;
    width: 100%;
    margin: auto;
  }
  footer .cols-wrap {
    display: none;
  }
  header,footer{
    background: #171412;
  }
  /*
  ** OVERVIEW CONTENT
  */
  .article-wrap {
    flex-direction: column;
    position: relative;
    background: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    margin: 20px auto;
    width:98%;
  }
  .img-content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .preview {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 15px;
    overflow: visible;
    background: rgba(21,21,21,.80);
  }
  .preview a.more{
    bottom: -60px;
  }
  #content {
    padding-top: 80px;
    min-height: 90vh;
  }
  .actu,
  #head {
    display: flex;
    flex-direction: column;
  }
  #head{
    height: auto;
  }
  #head img {
    position: inherit;
  }
  #head h1 {
    top: 0;
    left: 0;
    margin: 0;
    font-size: 1.7em;
    position: inherit;
  }
  article #text p,
  article #text a,
  article #text li,
  article #text em,
  article #text strong{
    line-height: 1.7rem
  }
  .bx-wrapper .info h3 a{
    font-size: 1.7rem;
  }


  .bx-wrapper .info {
    top: 160px;
    left: 0;
    min-height: 30vh;
    width: 100%;
    background: #000;
  }

  #fb {
    display: none;
  }
  .bx-wrapper .info h2 {
    font-size: 1rem;
  }
  #content h1{
    font-size: 4.2rem;
    margin: 15px 0 0 5px;
    max-width: 93vw;
  }

  /*
  ** LIVRE D'OR
  */

  #connexion, #livre {
    margin-top: 30px;
    width: 90%;
  }
  #connexion form, #livre form {
    align-items: center;
  }
  #livre form textarea,
  #livre form input[type="text"]{
    width: 100%;
    max-width: inherit;
  }
  .captcha-wrapper .g-recaptcha{
    width: auto;
    margin: auto;
  }


}
