body,select,input{
  background: #1b1a19;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu';
	font-weight:lighter;
	font-size: 19px;
	color: #fff
}
#content{
	padding-top: 15px;
	width: 93vw;
	margin: auto;
}
/*
** Titres et textes
*/
h1 {
  font-size: 1.5rem;
}
h2 {
  margin: 5px 0 15px 0;
  font-size: 1.7em;
}
small,
small i{
  font-size: 0.7rem;
  color: #969696;
  font-weight: lighter;
  margin-top: 5px
}




form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-top: 15px;
  margin: 15px 0 6px 0;
}
select {
  max-width: 250px;
}
input{
  border: 1px solid #fff;
  padding: 5px 5px;
}
input:focus{
  border: 1px solid #5cfef4;
  outline: none !important;
}
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"]
{
  width: 55%;
  min-width: 403px;
}
input[type="submit"]{
  width: 250px;
  padding:15px 5px;
  margin: 15px 0;
  border-radius: 2px;
  background: rgba(21,21,21,.90);
}
input[type="submit"]:hover{
  background: rgba(200,200,200,.20)
}


input[type="file"]{
  border: none;
}
/*
Page modif image
*/
#displayImg{
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
}
#displayImg img{
  height: 50%;
}
.hide{
  display: none !important;
}
/*
Page ajout image
*/

.btn{
  margin: 30px 0;
  font-size: 3em;
}
.btn:hover{
  color: #B8B8B8;
  cursor: pointer;
}
#add-files{
  width: 3em;
  float: left;
}
#files-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.fileBlock{
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
  margin: 0 20px 20px 0;
}
.fileBlock input{
  width: 100%
}
.fileBlock p{
  font-size: 1.2em;
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}
#control-file{
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*
Page ajout contenu
*/
#spec {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}


/*
Page utilisateurs
*/

.display-user {
  width: 100%;
  border: 1px solid #DDDCC5;
  text-align: center;
}
th, td {
  border-bottom: 1px solid #6A6A61;
  padding: 5px;
}
tr{
  user-select: none;
}
tr:hover{
  background: rgba(200,200,200,.20);
}
.display-user .cols-meta {
  font-weight: normal;
  background: #00000030;
}


@media screen and (max-width: 950px) {
  #btn-su-menu {
    top: 15px;
    right: 15px;
    left: inherit;;
   }
}