body,select,input{
  background: #1D2326;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu';
	font-weight:lighter;
	font-size: 19px;
	color: #fff
}
#content{
	padding-top: 15px;
	width: 95vw;
	margin: auto;
}

h1 {
  font-size: 1.5em;
}
h2 {
  margin: 5px 0 15px 0;
  font-size: 1.7em;
}
form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-top: 15px;
  margin: 15px 0 6px 0;
}
select {
  max-width: 250px;
}
input{
  border: 1px solid #fff;
  padding: 5px 2px;
}
input:focus{
  border: 1px solid #01AD1A;
  outline: none !important;
}
input[type="text"],
input[type="url"],
input[type="password"],
input[type="email"]
{
  width: 55vw;
  min-width: 403px;
}
input[type="submit"]{
  width: 250px;
  padding:15px 5px;
  margin: 15px 0;
  border-radius: 6px;
}


/*
Page utilisateurs
*/

.display-user {
  width: 100%;
  border: 1px solid #DDDCC5;
  text-align: center;
}
th, td {
  border-bottom: 1px solid #6A6A61;
  padding: 5px;
}
.display-user .cols-meta {
  font-weight: normal;
  background: #00000030;
}
